<!-- chat.component.html -->
<div class="app" [class.mobile-show-list]="mobileView() === 'list'" [class.mobile-show-chat]="mobileView() === 'chat'">
  <!-- LEFT: LISTA DE CONVERSAS -->
  <aside class="sidebar">
    <header class="side-header">
      <div class="side-title">
        <h1>Conversas</h1>
      </div>

      <div class="side-actions">
        <button class="icon-btn" aria-label="Nova conversa" title="Nova conversa">＋</button>
        <button class="icon-btn" aria-label="Menu" title="Menu">⋮</button>
      </div>
    </header>

    <div class="side-search">
      <span class="search-ico" aria-hidden="true">🔎</span>
      <input type="text" placeholder="Pesquisar uma nova conversa..." />
    </div>

    <nav class="side-filters" aria-label="Filtros">
      <button class="pill active" type="button">Tudo</button>
      <button class="pill" type="button">Não lidas</button>
      <button class="pill" type="button">Favoritas</button>
      <button class="pill" type="button">Grupos</button>
    </nav>

    <div class="chat-list">
      <button class="chat-item" type="button" *ngFor="let conversa of conversas()" (click)="abrirConversa(conversa)">
        <div class="avatar" aria-hidden="true">
          <img src="https://picsum.photos/40" alt="Avatar" />
        </div>

        <div class="chat-meta">
          <div class="row">
            <span class="name">
              {{ conversa.profileName || conversa.waId }}
            </span>
            <div class="row sub">
              <span class="last">
                Útima mensagem mostrar aqui
              </span>
            </div>
            <span class="time">
              {{ conversa.lastMessageAt | date:'HH:mm' }}
            </span>
          </div>
        </div>
      </button>
    </div>
  </aside>

  <!-- RIGHT: CONVERSA -->
  <main class="chat" *ngIf="conversaSelecionada() != null">
    <header class="chat-header">
      <div class="chat-left">
        <!-- Botão voltar -->
        <button class="icon-btn back-btn" type="button" (click)="voltarParaLista()" aria-label="Voltar" title="Voltar">
          ←
        </button>

        <div class="avatar lg" aria-hidden="true">
          <div class="avatar" aria-hidden="true">
            <img src="https://picsum.photos/40" alt="Avatar" />
          </div>
        </div>

        <div class="chat-title" >
          <span class="title">{{conversaSelecionada()?.profileName || conversaSelecionada()?.waId}}</span>
          <span class="status">online</span>
        </div>
      </div>


      <div class="chat-actions">
        <!--<button class="icon-btn" aria-label="Vídeo" title="Vídeo" type="button">📹</button>-->
        <!--<button class="icon-btn" aria-label="Ligar" title="Ligar" type="button">📞</button>-->
        <!--<button class="icon-btn" aria-label="Pesquisar" title="Pesquisar" type="button">🔎</button>-->
        <button class="icon-btn" aria-label="Menu" title="Menu" type="button">⋮</button>
      </div>
    </header>

    <section class="messages" aria-label="Mensagens">
      <ng-container *ngFor="let msg of mensagens()">

        <article class="msg out" *ngIf="msg.direcaoMensagem === 'SAIDA'">
          <div class="bubble">
            {{ msg.texto }}
            <div class="meta">{{ msg.enviadaEm | date:'HH:mm' }}</div>
          </div>
        </article>

        <article class="msg in" *ngIf="msg.direcaoMensagem === 'ENTRADA'">
          <div class="bubble">
            {{ msg.texto }}
            <div class="meta">{{ msg.recebidaEm | date:'HH:mm' }}</div>
          </div>
        </article>

      </ng-container>

      
      <div class="spacer"></div>
    </section>

    <footer class="composer">
      <button class="icon-btn" aria-label="Anexar" title="Anexar" type="button">＋</button>
      <button class="icon-btn" aria-label="Emoji" title="Emoji" type="button">😊</button>

      <div class="input-wrap">
        <input type="text" placeholder="Digite uma mensagem" />
      </div>

      <button class="icon-btn primary" aria-label="Enviar" title="Enviar" type="button">➤</button>
    </footer>
  </main>
</div>