<div class="container-fluid medicos-page">
    <!-- TÍTULO + BOTÃO NOVO -->
    <div class="row mb-4">
        <div class="col">
            <h2 class="mb-0">Médicos</h2>
            <small class="text-muted">Gerencie os médicos cadastrados na clínica</small>
        </div>

        <div class="col-auto d-flex align-items-center">
            <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalCadastroMedico">
                + Novo Médico
            </button>

        </div>
    </div>

    <!-- LISTA DE MÉDICOS -->
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-header">
                    <div class="row align-items-center">

                        <!-- Título centralizado -->
                        <div class="col text-center">
                            <span class="fw-bold fs-5">Médicos cadastrados</span>
                        </div>

                        <!-- Campo de pesquisa -->
                        <div class="col-auto d-flex align-items-center">
                            <form [formGroup]="formPesquisarMedico" (ngSubmit)="pesquisarPorNome()" class="d-flex">

                                <input type="text" class="form-control search-input" formControlName="nomeMedico"
                                    
                                    placeholder="Pesquisar médico...">

                                <button type="submit" class="sidebar-btn ms-2" [disabled]="formPesquisarMedico.invalid">
                                    <span class="menu-icon">🔍</span>
                                </button>
                            </form>
                        </div>

                    </div>
                </div>

                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table mb-0 align-middle">
                            <thead class="table-light">
                                <tr>
                                    <th>Nome do médico</th>
                                    <th>CPF</th>
                                    <th>CRM</th>
                                    <th>WhatsApp</th>
                                    <th style="width: 180px;">Ações</th>
                                </tr>
                            </thead>

                            <tbody>
                                <!-- FOR DINÂMICO:-->
                                <tr *ngFor="let medico of medicos()">
                                    <td>{{ medico.nomeMedico }}</td>
                                    <td>{{ medico.cpfMedico }}</td>
                                    <td>{{ medico.crmMedico }}</td>
                                    <td>{{ medico.whatsAppMedico}}</td>
                                    <td>
                                        <div class="d-flex justify-content-end gap-2">
                                            <button class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                                                data-bs-target="#modalEditarMedico" (click)="abrirModalEditar(medico)">
                                                Editar
                                            </button>

                                            <button class="btn btn-sm btn-outline-danger">
                                                Deletar
                                            </button>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- PAGINAÇÃO DARK PREMIUM -->
                <nav class="pagination-container">
                    <ul class="pagination-dark">

                        <!-- Botão Anterior -->
                        <li>
                            <button class="page-btn" [class.disabled]="paginaAtual() === 0"
                                (click)="irParaPagina(paginaAtual() - 1)">
                                <i class="bi bi-chevron-left"></i>
                            </button>
                        </li>

                        <!-- Números -->
                        <li *ngFor="let page of totalPaginasArray()">
                            <button class="page-btn" [class.active]="page === paginaAtual()"
                                (click)="irParaPagina(page)">
                                {{ page + 1 }}
                            </button>
                        </li>

                        <!-- Botão Próximo -->
                        <li>
                            <button class="page-btn" [class.disabled]="paginaAtual() === totalPaginas() - 1"
                                (click)="irParaPagina(paginaAtual() + 1)">
                                <i class="bi bi-chevron-right"></i>
                            </button>
                        </li>

                    </ul>
                </nav>
                <strong>{{ mensagemErroPagPrincipal() }}</strong>
            </div>
        </div>
    </div>
</div>

<!-- MODAL DE CADASTRO -->
<div class="modal fade" id="modalCadastroMedico" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Cabeçalho -->
            <div class="modal-header">
                <h5 class="modal-title t text-center w-100">Cadastrar Médico</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Corpo (formulário) -->
            <div class="modal-body">
                <form [formGroup]="formAddMedico" (ngSubmit)="addMedico()">

                    <!-- Nome -->
                    <div class="mb-3">
                        <label class="form-label">Nome do médico</label>
                        <input type="text" class="form-control" formControlName="nomeMedico"
                            (input)="formAddMedico.get('nomeMedico')?.setValue(capitalizarNome($event.target.value), {emitEvent: false})"
                            [class.is-invalid]="formAddMedico.get('nomeMedico')?.invalid && formAddMedico.get('nomeMedico')?.touched">

                        <!-- Mensagens de erro -->
                        <div class="invalid-feedback"
                            *ngIf="formAddMedico.get('nomeMedico')?.hasError('required') && formAddMedico.get('nomeMedico')?.touched">
                            Nome é obrigatório.
                        </div>

                        <div class="invalid-feedback"
                            *ngIf="formAddMedico.get('nomeMedico')?.hasError('pattern') && formAddMedico.get('nomeMedico')?.touched">
                            Apenas letras e espaços. Mínimo 1 – Máximo 100 caracteres.
                        </div>
                    </div>

                    <!-- CPF -->
                    <div class="mb-3">
                        <label class="form-label">CPF</label>
                        <input type="text" class="form-control" formControlName="cpfMedico"
                            [class.is-invalid]="formAddMedico.get('cpfMedico')?.invalid && formAddMedico.get('cpfMedico')?.touched"
                            mask="000.000.000-00">

                        <div class="invalid-feedback"
                            *ngIf="formAddMedico.get('cpfMedico')?.hasError('required') && formAddMedico.get('cpfMedico')?.touched">
                            CPF é obrigatório.
                        </div>

                        <div class="invalid-feedback"
                            *ngIf="formAddMedico.get('cpfMedico')?.hasError('pattern') && formAddMedico.get('cpfMedico')?.touched">
                            Formato inválido. Ex: 000.000.000-00
                        </div>
                    </div>

                    <!-- CRM -->
                    <div class="mb-3">
                        <label class="form-label">CRM</label>
                        <input type="text" class="form-control" formControlName="crmMedico"
                            [class.is-invalid]="formAddMedico.get('crmMedico')?.invalid && formAddMedico.get('crmMedico')?.touched">

                        <div class="invalid-feedback"
                            *ngIf="formAddMedico.get('crmMedico')?.hasError('required') && formAddMedico.get('crmMedico')?.touched">
                            CRM é obrigatório.
                        </div>

                        <div class="invalid-feedback"
                            *ngIf="formAddMedico.get('crmMedico')?.hasError('pattern') && formAddMedico.get('crmMedico')?.touched">
                            Apenas letras e números. Entre 4 e 20 caracteres.
                        </div>
                    </div>

                    <!-- WhatsApp -->
                    <div class="mb-3">
                        <label class="form-label">WhatsApp</label>
                        <input type="text" class="form-control" formControlName="whatsAppMedico"
                            [class.is-invalid]="formAddMedico.get('whatsAppMedico')?.invalid && formAddMedico.get('whatsAppMedico')?.touched"
                            mask="(00)0000-0000||(00)00000-0000">

                        <div class="invalid-feedback"
                            *ngIf="formAddMedico.get('whatsAppMedico')?.hasError('required') && formAddMedico.get('whatsAppMedico')?.touched">
                            WhatsApp é obrigatório.
                        </div>

                        <div class="invalid-feedback"
                            *ngIf="formAddMedico.get('whatsAppMedico')?.hasError('pattern') && formAddMedico.get('whatsAppMedico')?.touched">
                            Formato inválido. Ex: (21)99999-0000
                        </div>
                    </div>

                    <!-- Rodapé -->

                    <div [ngClass]="{ 'show': mensagemModal() != '' }"
                        class="alert alert-{{tipoMensagem()}} alert-dismissible fade show">
                        <strong>{{ mensagemModal() }}</strong>
                        <button type="button" class="btn-close" aria-label="Close"
                            (click)="mensagemModal.set('')"></button>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                            Cancelar
                        </button>

                        <button type="submit" class="btn btn-dark" [disabled]="formAddMedico.invalid">
                            Salvar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ----------------------------------------------------------------------------------------------------------- -->
<!-- ---------------------------------------------MODAL DE EDICAO----------------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------------------------- -->
<div class="modal fade" id="modalEditarMedico" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Cabeçalho -->
            <div class="modal-header">
                <h5 class="modal-title t text-center w-100">Editar dados do Médico</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Corpo (formulário) -->
            <div class="modal-body">
                <form [formGroup]="formEditMedico" (ngSubmit)="editarMedico()">

                    <!-- Nome -->
                    <div class="mb-3">
                        <label class="form-label">Nome do médico</label>
                        <input type="text" class="form-control" formControlName="nomeMedico"
                            (input)="formEditMedico.get('nomeMedico')?.setValue(capitalizarNome($event.target.value), {emitEvent: false})"
                            [class.is-invalid]="formEditMedico.get('nomeMedico')?.invalid && formEditMedico.get('nomeMedico')?.touched">

                        <!-- Mensagens de erro -->
                        <div class="invalid-feedback"
                            *ngIf="formEditMedico.get('nomeMedico')?.hasError('required') && formEditMedico.get('nomeMedico')?.touched">
                            Nome é obrigatório.
                        </div>

                        <div class="invalid-feedback"
                            *ngIf="formEditMedico.get('nomeMedico')?.hasError('pattern') && formEditMedico.get('nomeMedico')?.touched">
                            Apenas letras e espaços. Mínimo 1 – Máximo 100 caracteres.
                        </div>
                    </div>

                    <!-- CPF -->
                    <div class="mb-3">
                        <label class="form-label">CPF</label>
                        <input type="text" class="form-control" formControlName="cpfMedico"
                            [class.is-invalid]="formEditMedico.get('cpfMedico')?.invalid && formEditMedico.get('cpfMedico')?.touched"
                            mask="000.000.000-00">

                        <div class="invalid-feedback"
                            *ngIf="formEditMedico.get('cpfMedico')?.hasError('required') && formEditMedico.get('cpfMedico')?.touched">
                            CPF é obrigatório.
                        </div>

                        <div class="invalid-feedback"
                            *ngIf="formEditMedico.get('cpfMedico')?.hasError('pattern') && formEditMedico.get('cpfMedico')?.touched">
                            Formato inválido. Ex: 000.000.000-00
                        </div>
                    </div>

                    <!-- CRM -->
                    <div class="mb-3">
                        <label class="form-label">CRM</label>
                        <input type="text" class="form-control" formControlName="crmMedico"
                            [class.is-invalid]="formEditMedico.get('crmMedico')?.invalid && formEditMedico.get('crmMedico')?.touched">

                        <div class="invalid-feedback"
                            *ngIf="formEditMedico.get('crmMedico')?.hasError('required') && formEditMedico.get('crmMedico')?.touched">
                            CRM é obrigatório.
                        </div>

                        <div class="invalid-feedback"
                            *ngIf="formEditMedico.get('crmMedico')?.hasError('pattern') && formEditMedico.get('crmMedico')?.touched">
                            Apenas letras e números. Entre 4 e 20 caracteres.
                        </div>
                    </div>

                    <!-- WhatsApp -->
                    <div class="mb-3">
                        <label class="form-label">WhatsApp</label>
                        <input type="text" class="form-control" formControlName="whatsAppMedico"
                            [class.is-invalid]="formEditMedico.get('whatsAppMedico')?.invalid && formEditMedico.get('whatsAppMedico')?.touched"
                            mask="(00)0000-0000||(00)00000-0000">

                        <div class="invalid-feedback"
                            *ngIf="formEditMedico.get('whatsAppMedico')?.hasError('required') && formEditMedico.get('whatsAppMedico')?.touched">
                            WhatsApp é obrigatório.
                        </div>

                        <div class="invalid-feedback"
                            *ngIf="formEditMedico.get('whatsAppMedico')?.hasError('pattern') && formEditMedico.get('whatsAppMedico')?.touched">
                            Formato inválido. Ex: (21)99999-0000
                        </div>
                    </div>

                    <!-- Rodapé -->

                    <div [ngClass]="{ 'show': mensagemModal() != '' }"
                        class="alert alert-{{tipoMensagem()}} alert-dismissible fade show">
                        <strong>{{ mensagemModal() }}</strong>
                        <button type="button" class="btn-close" aria-label="Close"
                            (click)="mensagemModal.set('')"></button>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                            Cancelar
                        </button>

                        <button type="submit" class="btn btn-dark" [disabled]="formEditMedico.invalid">
                            Salvar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>